@font-face {
  font-family: edit;
  src: url(Editorial-New/OTF/EditorialNew-Regular.otf);
}
@font-face {
  font-family: edit-light;
  src: url(Editorial-New/OTF/EditorialNew-Light.otf);
}
@font-face {
  font-family: edit-thin;
  src: url(Editorial-New/OTF/EditorialNew-Thin.otf);
}
@font-face {
  font-family: terminal;
  src: url(CascadiaMono.ttf);
}
body{
  background-color: black;
}
h1{
  text-align: center;
  font-weight: normal;
  color: white;
  font-family: edit-light;
  font-size: 72pt;
}
h3{
  font-weight: normal;
  color: white;
  font-family: edit-thin;
  font-size: 18pt;
  display: inline-block;
}
.form{
  display: block;
  text-align: center;
  margin-left: 25%;
  width:50%;
  margin-right: 25%;
}
input#subr{
  font-family: terminal;
  font-size: 18pt;
  text-align:center;
  display: block;
  color:white;
  width:100%;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: black;
  border-radius: 5px;
  border-width: 0px;
  border-style:solid;
  outline: none;
}
::placeholder{
  opacity: 1;
  color:white;
}
select#limitSub{
  font-family: terminal;
  font-size: 18pt;
  text-align:center;
  display: block;
  color:white;
  width:10%;
  margin-left: 45%;
  margin-right: 45%;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: black;
  border-radius: 5px;
  border-width: 0px;
  border-style:solid;
  outline: none;
}
select#limitCom{
  font-family: terminal;
  font-size: 18pt;
  text-align:center;
  display: block;
  color:white;
  width:10%;
  margin-left: 45%;
  margin-right: 45%;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: black;
  border-radius: 5px;
  border-width: 0px;
  border-style:solid;
  outline: none;
}
input#print{
  font-weight: normal;
  color: white;
  font-family: edit-thin;
  font-size: 18pt;
  display: inline-block;
  background-color: black;
  border:none;
  outline: none;
  cursor:pointer;
}
.subredtitle {
  width:60vw;
  margin:1rem auto;
  font-family: edit-thin;
  font-size:1.4rem;
   text-align:center;
  color:white;
  margin-bottom:.5rem;
  margin-top:3rem;
}
.metadata {
   text-align:center;
  color:#666;
  font-size:1.2rem;
margin-top:0;

 
}