body {
  background: #b0ceb0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
body button {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  text-transform: uppercase;
  border: none;
  background: lightgreen;
  transition: all ease 0.3s;
  margin: 0.5rem;
}
body button:hover {
  cursor: pointer;
}
body button:hover, body button:focus {
  outline: none;
}
body button.play {
  background: #64e764;
}
body button.play:hover {
  background: #38e038;
}
body button.pause {
  background: #ff8da1;
}
body button.pause:hover {
  background: #ff5a77;
}

/*# sourceMappingURL=son.css.map */
