$playcolor: lightgreen;
$pausecolor: pink;

body {
    background:desaturate($playcolor,50%);
    display:flex;
    justify-content: center;
    align-items:center;
    min-height:100vh;
    button {
        padding:1rem 2rem;
        border-radius: .5rem;;
        font-size:2rem;
        text-transform:uppercase;
        border:none;
        background:$playcolor;
        transition:all ease .3s;
        margin:.5rem;
        &:hover {
            cursor:pointer;
        }
        &:hover,
        &:focus {
            outline:none;
        }
        &.play {
            background:darken($playcolor,10%);
            &:hover {
                background:darken($playcolor,20%);
            }
        }
        &.pause {
            background:darken($pausecolor,10%);
            &:hover {
                background:darken($pausecolor,20%);
            }
        }
    }
}