html,
body {
    margin: 0;
    padding: 0;
}

img {
    width: 200px;
    height: auto;
    border-radius: 3px;
    transition: all ease 10s;
    animation: grow 15s infinite, disap 15s infinite;
}

@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes disap {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.titre {
    position: absolute;
    top: 100px;
    left: 100px;
    color: red;
    z-index: 10;
}